.car-list {
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    ;
}

.car-preview {
    background-color: beige;
    font-size: 24px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.car-preview p:last-child {
    padding-bottom: 25px;
}

h1 {
    padding-bottom: 15px;
}

p {
    padding: 5px;
}

a {
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    text-decoration: none;
    color: black;
}

a:focus {
    outline: none !important
}

a:hover {
    text-decoration: none
}

ul,
li {
    margin: 0;
    list-style-type: none
}

input {
    display: block;
    outline: none;
    border: none !important
}

textarea {
    display: block;
    outline: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.wrap-table100 {
    width: 1170px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,
table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: rgb(32, 177, 255);
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: left
}

table td.l,
table th.l {
    text-align: right
}

table td.c,
table th.c {
    text-align: center
}

table td.r,
table th.r {
    text-align: center
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 .column2 .column3 .column4 {
    width: 110px;
    text-align: center;
}


.containerBtnBig {
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 8px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.containerBtnBig:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn {
    height: 25px;
    width: 25px;
}

.btnBig {
    height: 65px;
    width: 65px;
}

.btnBigText {
    padding-left: 15px;
    font-size: 36px;
}

@media screen and (max-width: 992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px;
        background-color: rgba(32, 177, 255, 0.3);
        border-radius: 30px;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    .column4,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}